*{
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.container{
    border: 2px solid violet;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calcframe{
    border: 2px solid black;
    width: 500px;
    height: 500px;
    background-color: gray;
    display: flex;
    flex-direction: column;
}
.display{
flex-grow: 1;
}
.lowercalc{
    flex-grow: 2;
    display: flex;
}
.numcontainer{
    display: flex;
    flex-grow: 1;
    border: 1px solid black;
    flex-direction: column;
}
.numbers{
    border: 1px  blue;
    
    display: flex;
flex-wrap: wrap;
flex-grow: 3;
}
.bottomnumbers{
    border: 1px  violet;
    flex-grow: 1;
    display: flex;

}
.bottomnumber{
    flex-grow: 1;
}
.operators{
    border: 1px solid black;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.upperop{
    flex-grow: 1;
border: 1px solid brown;
display: flex;
flex-wrap: wrap;
}
.oppbutton{
    width: 50%;
    height: 50%;
}
.loweropp{
    flex-grow: 1;
border: 1px saddlebrown solid;
display: flex;
}
.lowerupperopp{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.loweroppbtn{
    flex-grow: 1;
}
.equal{
    display: flex;
    flex-grow: 1;
}
.equalbtn{
    width: 100%;
}
.digit{
  width: 33.3333333%;
  height: 33.3333333%;
}
.text{
    width: 100%;
    height: 100%;
    font-size: 200%;
    display: flex;
justify-content: flex-end;
align-items: center;
}
